@page "/loginControl"
@using System.Web;

<AuthorizeView>
    <Authorized>
        <b>Hello, @context.User.Identity.Name!</b>
        <a class="ml-md-auto btn badge-primary" 
           href="/loguot?returnUrl=/"
           target="_top">Logout</a>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
